{% extends "base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="assets/css/posts.css">
{% endblock %}
{% block title %}
	Articles
{% endblock %}

{% block body %}
	{% for post in posts %}
		<div class="card mb-5 postsBox">
			<div class="card-header">
				<h2>{{post.title}}</h2>
			</div>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>Chapô : {{post.header}}</p>
					{% if detail %}
						<p>{{post.content}}</p>
					{% endif %}
					<footer class="blockquote-footer">Auteur: {{post.author}} <cite title="Source Title">Date de dernière modification: {{post.updated_at}}</cite></footer>
					{% if detail %}
						{% for comment in comments %}
							{% if comment.post_id == post.id and comment.is_valid == 1%}
								<div class="card mb-5">
									<div class="card-header">
										<p>Auteur du commentaire: {{comment.author}}</p>
									</div>
									<div class="card-body">
										<blockquote class="blockquote mb-0">
											<p>{{comment.content}}</p>
											<footer class="blockquote-footer">Auteur: {{comment.author}} <cite title="Source Title">Commentaire ajouté le: {{comment.created_at}}</cite></footer>
										</blockquote>
									</div>
								</div>
							{% endif %}
						{% endfor %}
						<hr>
						<h3 class="text-center">Ajouté un commentaire</h3>
						<form id="comment" action="{{BASE_URL}}posts/commentary" method="POST" role="form">
							<div class="form-group">
								<label for="text">Email</label>
								<input type="text" class="form-control" name="author" id="text" rows="3" placeholder="exemple@exemple.com"></textarea>
							</div>
							<div class="form-group">
								<label for="exampleFormControlTextarea1">Message</label>
								<textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3" placeholder="Votre message..."></textarea>
							</div>
							
							<input type="text" name="is_valid" class="form-control" aria-describedby="id" style="display: none;" value="0">
							<input type="text" name="post_User_id" class="form-control" aria-describedby="id" style="display: none;" value="{{post.User_id}}">
							<input type="text" name="post_id" class="form-control" aria-describedby="id" style="display: none;" value="{{post.id}}">
							<input type="submit" name="addComment" class="btn btn-primary" value="Envoyer">
						</form>
					{% endif %}
				</blockquote>
				{% if detail == false %}
					<a href="{{BASE_URL}}posts?post={{post.id}}" class="btn btn-primary">Voir le détail de l'article</a>
				{% endif %}
				{% if detail %}
					<a href="{{BASE_URL}}posts" class="btn btn-primary">Retour</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
